name: maven-kali

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build & Test on Ubntu
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git maven unzip wget curl dsniff xvfb nmap

      - name: Setup Java 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Verify Java and Maven versions
        run: |
          java -version
          mvn -version

      - name: Build project
        run: mvn clean compile

      - name: Run unit tests
        run: mvn test

#      - name: Run integration tests
#        run: mvn verify